music/angry/Captain.mp3
music/angry/Harakiri.mp3
music/disgust/BluesPills.mp3
music/disgust/Bronx.mp3
music/disgust/King.mp3
music/fear/Puzzle.mp3
music/fear/Tiamaranta.mp3
music/fear/Toccata.mp3
music/happy/.DS_Store
music/happy/12th Floor Party.mp3
music/happy/Martini.mp3
music/happy/Mexico.mp3
music/happy/Paris.mp3
music/neutral/Mexico.mp3
music/neutral/Paris.mp3
music/neutral/QuestionRéponse.mp3
music/neutral/TheManWhoSoldTheWorld.mp3
music/sad/.DS_Store
music/sad/LittlePoorMe.mp3
music/sad/TheManWhoSoldTheWorld.mp3
music/sad/Warriors.mp3
music/surprise/Hayloft.mp3
music/surprise/Mercury.mp3
music/surprise/Skrillex.mp3
music/angry/BluesPills.mp3
.DS_Store
music/.DS_Store
web/.DS_Store
